*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}



body {
	background-image: url(tiranakrye.jpg);
	background-size: cover;
	background-position: center;
	background-repeat:no-repeat;
	background-attachment: fixed;
	
  

}


.logo img
{
	width: 180px;
	height: auto;
	float: left;
	padding-left: 5px;
	padding-top: 15px;
}






nav ul li {
	float: right;
	list-style: none;
	width: 120px;
    height: 50px;
    margin: 15px;
    padding: 15px;
}




nav ul li a {
	
    font-family: sans-serif;
    color: #fff;
	text-decoration: none;
	margin: 10px;


}

nav ul li a:hover {
	
    color: rgb(35, 43, 161);

}



	
.slogani
{

	  position: absolute; 
	  left: 50px; 
	  top: 140px; 
	  font-size: 300%;
	  font-family: georgia;
	  font-weight: bolder;
	  color: #FFFFFF;
	  text-shadow: 4px 4px 10px #000;
	
	
}

